body, html {
    margin: 10;
    padding: 5;
      width: 100%;
      height: 100%;
      background-repeat:repeat-x;
      background-size: 60%;
      background-image: url(image/5cf9302b378fab7c7a58eff610616128969b01d39492d2815a7d728b786e662f.mp4.gif);
      
      
  }
      ol {
        /* color:red; */
        /* text-decorration: none; */
        text-align: center; 
        vertical-align: middle; 
        display: none;
      }
      .saw {
        color:gray;
      }
      #active {
        color:red;
      }
      h1 {
        font-size:45px;
        text-align: center;
      }
  
      .bar {
        height: 10px;
        background: #18ff1f;
        width: 12%; /* 프로그래스바 진행 정도 */
        transition: all 2s ease; /* 부드러운 가속도 애니메이션 추가 */
        margin: 0px auto 0 ; 
        }
      html{
        cursor: url(image/icon_watson.png), auto
      }