html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
  
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 1%;
    transition: all 0.3s ease;
  }

  .progress-bar > .progress {
    width: 0%; /* 프로그래스바 진행 정도 */
    height: 100%;
    transition: width 0.3s ease; /* 부드러운 가속도 애니메이션 추가 */
    background-color: #4caf50;
}
  
  .content {
    width: 100%;
    height: 3000px; /* 스크롤바가 생기도록 강제로 가상 컨텐츠 높이 생성 */
    background-color: #fafafa;
  }
  